<div class="container-fluid parent">
  <div class="add-service-component">
    <app-add-service
      [formToggle]="toggleForm"
      (sendFlagToService)="getAddServiceFlag($event)"
      [editServiceData]="serviceData"
    ></app-add-service>
  </div>
  <p class="text-end mt-2">
    <button class="btn btn-danger" (click)="openAddService()">
      add service
    </button>
  </p>
  <div class="card-parent">
    @for(service of services; track service._id){
    <div class="service-card">
      <div class="service-div-img">
        <img
          *ngIf="isImage(service.serviceImgUpload)"
          [src]="
            'https://sp-backend-uky8.onrender.com/serviceUploadsImg/' +
            service.serviceImgUpload
          "
          alt=""
        />
        <iframe
          *ngIf="isPDF(service.serviceImgUpload)"
          [src]="getSanitizedUrl(service.serviceImgUpload)"
          width="100%"
          height="500px"
        ></iframe>
      </div>
      <div class="card-text">
        <p><span>Title:</span>{{ service.title }}</p>
        <p><span>Description:</span>{{ service.description }}</p>
        <p><span>Price:</span>{{ service.price }}</p>
        <p><span>isActive:</span>{{ service.isActive }}</p>
        <p><span>Led Count:</span>{{ service.ledScreenCount }}</p>
        <p><span>Sharpy Count:</span>{{ service.sharpyCount }}</p>
      </div>
      <div class="d-flex justify-content-evenly mt-2 buttons-div">
        <p><button class="btn btn-primary">{{service.btn}}</button></p>
        <p><button class="btn btn-success"(click)="editService(service)">Edit</button></p>
        <p><button class="btn btn-danger" (click)="deleteEvent(service._id)">Delete</button></p>
      </div>
    </div>
    }
  </div>
</div>
