<nav class="navbar">
  <ul class="ul-div">
    <li class="list-unstyled" routerLink="/admin/dashboard">Dashboard</li>
    <li class="list-unstyled" routerLink="/admin/services">Services</li>
    <li class="list-unstyled" routerLink="/admin/pending">Pending</li>
    <li class="list-unstyled" routerLink="/admin/confirmed">Confirmed</li>
    <li class="list-unstyled" routerLink="/admin/completed">Completed</li>
    <li class="list-unstyled"routerLink="/admin/cancelled">Cancelled</li>
  </ul>
</nav>
