<nav class="navbar">
  <ul class="ul-div">
    <li class="list-unstyled" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</li>
    <li class="list-unstyled" routerLink="/admin/services" routerLinkActive="active">Services</li>
    <li class="list-unstyled" routerLink="/admin/pending" routerLinkActive="active">Pending</li>
    <li class="list-unstyled" routerLink="/admin/confirmed" routerLinkActive="active">Confirmed</li>
    <li class="list-unstyled" routerLink="/admin/completed" routerLinkActive="active">Completed</li>
    <li class="list-unstyled"routerLink="/admin/cancelled" routerLinkActive="active">Cancelled</li>
  </ul>
</nav>
