<div class="container-fluid parent">
  <div class="home-div">
    <div class="home-welcome-text">
      <p>Welcome to your Sp Light & Led Screen services</p>
      <p>Light Up Your Event with Sharpy Lights & LED Screens</p>
    </div>
    <div class="home-quote">
      <p>Create unforgettable experiences with our</p>
      <p>professional lighting and high-res screen</p>
    </div>
    <div class="service_section">
      <p>Service We Offer:</p>
      <ul>
        <li class="list-unstyled">
          <span class="service-text"></span>Sharpy Moving Head Lights for Rent
        </li>
        <li class="list-unstyled">
          <span class="service-text"></span>LED Screens for Events & Promotions
        </li>
        <li class="list-unstyled">
          <span class="service-text"></span>Full Event Lighting Setup
        </li>
      </ul>
    </div>
    <div class="event_type_div">
      <p>Perfect for All Occasions:</p>
      <div class="event-option mt-0">
        <p><span class="service-text-o"></span>Weddings</p>
        <p><span class="service-text-o"></span>Concerts</p>
        <p><span class="service-text-o"></span>Parties</p>
        <p><span class="service-text-o"></span>Corporate</p>
      </div>
    </div>
    <div class="why-choose-div">
      <p>★Why Choose Us?</p>
      <div class="quality-text">
        <p>✓ High-Quality Equipment</p>
        <p>✓ Affordable Rates</p>
        <p>✓ Fast Setup & Technical Support</p>
        <p>✓ 1000+ Satisfied Clients</p>
      </div>
    </div>
    <div class="button-div">
      <p>Ready to Book?</p>
      <p>Let’s light up your next event.</p>
      <button class="nav-btn" routerLink="/order">Order</button>
    </div>
  </div>
</div>
